<!DOCTYPE html>
<html>

<head>

<title>Admin EGz</title>

</head>

<body>

<h1>Admin EGz GamerInfoZOone</h1>

<form method="POST" enctype="multipart/form-data">

<select name="categoria">

<option>Futebol</option>
<option>Aventura</option>
<option>Tiro</option>

</select>

<br><br>

<input type="text" name="titulo" placeholder="Nome do jogo">

<br><br>

<input type="file" name="imagem">

<br><br>

<input type="text" name="link" placeholder="Link download">

<br><br>

<textarea name="requisitos" placeholder="Requisitos"></textarea>

<br><br>

<button type="submit">Publicar</button>

</form>

</body>
</html>
